
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f5fa;
    color: #333;
}
header {
    background-color: #7a8885;
    color: white;
    padding: 20px 0;
}
.header-container {
    text-align: center;
}
header h1 {
    font-size: 36px;
    font-weight: 700;
}
header p {
    font-size: 18px;
    margin-top: 5px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 100px;
    padding: 40px 100px;
    justify-items: center;

}
.card {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 300px;
}

.card h2 {
    font-size: 22px;
    color: #0c4a6e;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

button {
    padding: 12px 20px;
    background-color: #7a8885;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #075a8c;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}
.navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px 40px;
        }
        .navbar .logo {
            color: white;
            font-size: 22px;
            font-weight: bold;
        }

        .navbar ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 25px;
        }

        .navbar ul li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            padding: 8px 12px;
            border-radius: 5px;
        }

        .navbar ul li a:hover {
            background: #556264;
        }



