body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #7a8885, #ACB6E5);
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 700px;
}

h1 {
    color: rgb(65, 61, 61);
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.nav-links a {
    padding: 12px 25px;
    background-color: rgba(253, 248, 248, 0.2);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-links span {
    color: #fff;
    font-weight: bold;
}

.nav-links a:hover {
    background-color: #fff;
    color: #4CAF50;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
    .nav-links span {
        display: none; 
    }
}
